/* GERAL */

*{
    background-color: rgb(36, 35, 35);
    color: #fff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}

a{
    text-decoration: none;
    color: #000;
    font-size:bolder;
    transition: 0.3s;
}
a:hover{
    color: orange;
}

/* TEXTO INICIAL (TITULO) */

.textContent{
    position: relative;
    display: block;
    padding: 10px;
    width: 1000px;
    margin: auto;
    
    font-weight: 550;
    font-size: 10px;
}

.textContent h1{
    margin: 0;
}

#textIntial{
    margin-left: 25px;
}

/* CARD CONTENT */

.cardContent{
    position: relative;
    width: 950px;
    border: 1px solid orange;
    background-color: orange;
    border-radius: 10px;
    margin: auto;
}

/* CARD GERAL */

.cardGeral{
    position: relative;
    display: flex;
    width: 0;
    margin: 30px;
    margin-left: 35px;
}

.cardGeral p{
    text-align: center;
    justify-items: center;
}

/* CARD POTÊNCIA */

.cardPotencia{
    border: 1px solid #fff;
    border-radius: 20px;
    padding: 10px;
    background-color: #fff;
    width: 350px;
    transition: 0.5s;
    box-shadow: 3px 5px 8px rgba(0, 0, 0, 0.822);
}

.cardPotencia:hover{
    transform: scale(1.1);
}


/* CARD RADICIAÇÃO */

.cardRaiz{
    border: 1px solid #fff;
    border-radius: 20px;
    margin-left: 20px;
    padding: 10px;
    background-color: #fff;
    transition: 0.5s;
    box-shadow: 3px 5px 8px rgba(0, 0, 0, 0.822);
}

.cardRaiz:hover{
    transform: scale(1.1);
}

/* CARD MATEMÁTICA FINANCEIRA */

.cardFin{
    border: 1px solid #fff;
    border-radius: 20px;
    margin-left: 20px;
    padding: 10px;
    background-color: #fff;
    transition: 0.5s;
    box-shadow: 3px 5px 8px rgba(0, 0, 0, 0.822);
}

.cardFin:hover{
    transform: scale(1.1);
}

/* CARD MATEMÁTICA FINANCEIRA */

.cardFuncoes{
    border: 1px solid #fff;
    border-radius: 20px;
    margin-left: px;
    padding: 10px;
    background-color: #fff;
    transition: 0.5s;
    box-shadow: 3px 5px 8px rgba(0, 0, 0, 0.822);
}

.cardFuncoes:hover{
    transform: scale(1.1);
}

/* CARD MATEMÁTICA FINANCEIRA */

.cardGeometria{
    border: 1px solid #fff;
    border-radius: 20px;
    margin-left: 40px;
    padding: 10px;
    background-color: #fff;
    transition: 0.5s;
    box-shadow: 3px 5px 8px rgba(0, 0, 0, 0.822);
}

.cardGeometria:hover{
    transform: scale(1.1);
}

/* CARD MATEMÁTICA FINANCEIRA */

.cardPitagoras{
    border: 1px solid #fff;
    border-radius: 20px;
    margin-left: 40px;
    padding: 10px;
    background-color: #fff;
    transition: 0.5s;
    box-shadow: 3px 5px 8px rgba(0, 0, 0, 0.822);
}

.cardPitagoras:hover{
    transform: scale(1.1);
}


/* RESPONSIVIDADE */

/* 1064 PX */

@media screen and (max-width: 1240px){

    .cardGeral{
        margin-left: 0px;
    }

    .cardContent{
       width: 900px;
       margin: auto;
       padding: 0 20px;
    }

    .textContent{
        width: 880px;
        margin: auto;
        font-weight: 400;
        font-size: 9px;
    }

    #textIntial{
        margin-left: 12px;
    }
}

@media screen and (max-width: 962px){

    .cardFin{
        margin-left: 35px;
    }

    .cardRaiz{
        margin-left: 40px;
    }

    .cardGeral img{
        width: 220px;
    }

    .cardContent{
       width: 800px;
       margin: auto;
       padding: 0 20px;
    }
    
}

@media screen and (max-width: 896px){

    .textContent{
        width: 800px;
        margin: auto;
        font-weight: 300;
        font-size: 8px;
    }    

}

@media screen and (max-width: 860px){

    .cardGeral img{
        width: 180px;
    }

    .cardContent{
       width: 700px;
       margin: auto;
       padding: 0 20px;
    }

    #textIntial{
        margin-left: 18px;
    }

}

@media screen and (max-width: 805px){

    .textContent{
        width: 700px;
        margin: auto;
        font-weight: 300;
        font-size: 7px;
    }  

}

@media screen and (max-width: 765px){

    .cardGeral img{
        width: 150px;
    }

    .cardContent{
       width: 600px;
       margin: auto;
       padding: 0 12px;
    }

    #textIntial{
        margin-left: 18px;
    }

}

@media screen and (max-width: 712px){

    .textContent{
        width: 600px;
        margin: auto;
        font-weight: 600;
        font-size: 6.1px;
    }

}

@media screen and (max-width: 650px){
    
    .cardGeral img{
        width: 120px;
    }

    .cardContent{
       width: 500px;
       margin: auto;
       padding: 0 30px;
    }

}

@media screen and (max-width: 644px){

    .textContent{
        width: 560px;
        margin: auto;
        font-weight: 900;
        font-size: 5.7px;
        margin-left: -10px;
    }

    #textIntial{
        margin-left: 15px;
    }

}

@media screen and (max-width: 595px){

    .textContent{
        width: 400px;
        margin: auto 35px;
        font-weight: 900;
        font-size: 8px;
    }
    #textIntial{
        margin-left: 0px;
    }
    #textInitial2{
        margin-left: 0px;
    }

    .cardContent{
        width: 300px;
    }

    .cardGeral{
        display: block;
    }
    
    .cardPotencia{
        width: 180px;
        height: 200px;
        margin: 20px 60px;
    }
    .cardPotencia img{
        margin-left: 25px;
        margin-top: 20px;
    }

    .cardRaiz{
        width: 180px;
        height: 200px;
        margin: 20px 60px;
    }
    .cardRaiz img{
        margin-left: 25px;
        margin-top: 20px;
    }

    .cardFin{
        width: 180px;
        height: 200px;
        margin: 20px 60px;
    }
    .cardFin img{
        margin-left: 25px;
        margin-top: 20px;
    }

    .cardFuncoes{
        width: 180px;
        height: 200px;
        margin: 20px 60px;
    }
    .cardFuncoes img{
        margin-left: 25px;
        margin-top: 20px;
    }

    .cardGeometria{
        width: 180px;
        height: 200px;
        margin: 20px 60px;
    }
    .cardGeometria img{
        margin-left: 25px;
        margin-top: 20px;
    }

    .cardPitagoras{
        width: 180px;
        height: 200px;
        margin: 20px 60px;
    }
    .cardPitagoras img{
        margin-left: 25px;
        margin-top: 20px;
    }

}